/* ClientOpinions.module.css */
.container {
    background-color: rgba(125, 66, 131, 1);
    color: #fff;
    text-align: center;
    padding: 50px 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 80px;
    margin: top 1.5rem;;
  }
  
  .card {
    background: #000;
    border-radius: 10px;
    padding: 15px;
    min-width: 200px;
    max-width: 250px;
    height: auto;
    scroll-snap-align: center;
    flex-shrink: 0;
    text-align: left;
    position: relative;
    font-size: 0.9rem; /* تقليل حجم النص */
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .dots {
    margin-top: 20px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
  }
  
  .dot.active {
    opacity: 1;
  }
  @media (max-width: 480px) {
    .slider-container {
      display: flex;
      justify-content: center; /* محاذاة الحاوية في المنتصف أفقيًا */
      align-items: center; /* محاذاة المحتوى داخل الحاوية في المنتصف رأسيًا */
      height: 100vh; /* يمكنك تعديل هذا القيمة حسب الحاجة */
    }
    
    .slider {
      /* ... باقي الأنماط ... */
      width: 80%; /* أو أي عرض مناسب */
    }}